html,
body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    /* background-color: #fff; */
}

.container {
    position: fixed;
    top: 30%;
    left: 70%;
    transform: translate(-50%, -50%);
}

svg,
.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-container {
    width: 350px;
}

svg {
    width: 1000px;
    pointer-events: none;
}

.form-container .form-row {
    /* width: 100%; */
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 2px;   
}

.form-container .form-row input {
    width: 100%;
    height: 55px;
    margin: 0;
    padding: 5px;
    outline: none;
    border: 2px solid #dddddd;
}

.form-container .form-row input.valid {
    border-color: #000000;
}

.form-container .form-row input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 0 10px 0 0;
    padding: 0;
    border: 2px solid #dddddd;
}

.form-container .form-row input[type="submit"] {
    height: 40px;
    cursor: pointer;
    border: none;
    background-color: #eeeeee;
}

.form-container input[type="submit"]:hover {
    background-color: #dddddd;
}

.form-container .form-row input[type="submit"] {
    height: 40px;
    cursor: pointer;
    border: none;
    background-color: #eeeeee;
    /* margin-left: -35px; */
}

.form-container label,
.form-container input,
.form-container input::placeholder {
    font-size: 15px;
    font-family: inherit;
}

svg {
    stroke-width: 1.2px;
    stroke: #000000;
    fill: none;
}

.clip-video {
    clip-path: polygon(
      0% 0%, 
      100% 0%, 
      100% 85%, 
      50% 100%, 
      0% 85%
    );
  }
  .liquid-button::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255,255,255,0.15) 0%, transparent 60%);
    animation: liquid 4s infinite linear;
    opacity: 0.4;
  }
  
  @keyframes liquid {
    0% { transform: translate(0, 0) rotate(0deg); }
    100% { transform: translate(20%, 20%) rotate(360deg); }
  }
  
  